<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>

    </style>

</head>
<body>
    
    <div class="container">
        <form >
            <h1>Menú versión 2.0</h1>
            <a href="/juego">1 => Juego: adivinar un número aleatorio entre 1 y 100</a><br>
            <a href="/anagrama">2 => Determinar si una cadena de texto es un anagrama de otra cadena de texto</a><br>
            <a href="/areaperi">3 => Calcular el área y perímetro de un círculo dado su radio</a><br>
            <a href="/celFah">4 => Convertir grados Celsius a Fahrenheit</a><br>
            <a href="/parImpar">5 => Determinar si un número par o impar</a><br>
        <a href="/capicua">6 => Determinar si un número es capicúa o no</a><br>
    </form>
    </div>
    
</body>
</html>